{% extends "master.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h5>
                    Create a new position
                </h5>
            </div>
            <div class="row">
                <form action="{{ url_for('main_app.create_position') }}" method="post">
                    <select name="pair" id="pair">
                        {% for pair in pairs %}
                            <option value="{{ pair.id }}">{{ pair.shorthand }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" placeholder="Entry..." name="entry" id="entry">
                    <input type="text" placeholder="Stop Loss..." name="stop_loss" id="stop_loss">
                    <input type="text" placeholder="Take profit..." name="take_profit" id="take_profit">
                    <input type="text" placeholder="Position size..." name="size" id="size">
                    <input type="text" placeholder="Tags..." name="tags" id="tags">
                    <input type="text" placeholder="Entry reason..." name="reason" id="reason">
                    <input type="submit">
                </form>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col">Ticker</div>
                        <div class="col">Type</div>
                        <div class="col">Size</div>
                        <div class="col">Entry</div>
                        <div class="col">T/P</div>
                        <div class="col">S/L</div>
                        <div class="col">R/R</div>
                        <div class="col">Closed Price</div>
                        <div class="col">Tags</div>
                        <div class="col">Open Time</div>
                        <div class="col">Tools</div>
                    </div>
                    {% for position in positions %}
                        {% set css_class = "text-danger" if position.risk_reward_ratio < 2 else
                                  "text-warning" if position.risk_reward_ratio <= 2.5 else "text-success" %}
                        {% set result_css = "text-success fw-bold" if position.result_money > 0 else "text-danger" %}
                        <div class="row row-{{ position.status }}">
                            <div class="col">
                                {{ position.pair.shorthand }}
                            </div>
                            <div class="col">
                                {{ position.type }}
                            </div>
                            <div class="col">
                                {{ position.position_size }}
                            </div>
                            <div class="col">
                                {{ position.entry }}
                            </div>
                            <div class="col">
                                {{ position.take_profit }}
                            </div>
                            <div class="col">
                                {{ position.stop_loss }}
                            </div>
                            <div class="col {{ css_class }}">
                                R{{ position.risk_reward_ratio }}
                            </div>
                            <div class="col {{ result_css }}">
                                {{ position.exit_price if position.exit_price else "" }}
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                {{ position.created.strftime("%d-%m-%Y %H:%m") }}
                            </div>
                            <div class="col"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}